{% extends "base.html" %}
{% set active_page="Remove Puppy" %}
{% block title %}{{active_page}}{% endblock title %}
{% block content %}
<div class="container-fluid mx-auto">
  <div class="jumbotron">
    <h4>Has your puppy got adopted?</h4>
    <p></p>
    <h1 class="mx-4" style="color: red">If so, please remove it form our database!</h1>
    <form class="mx-4 p-2" method="POST">
      <!-- This hidden_tag is a CSRF security feature -->
      {{form.hidden_tag()}}
      <!-- The actual form  -->
      {{form.id.label}}{{form.id}}<br>
      {{form.submit()}}
    </form>
  </div>

</div>
{% endblock content %}
