{% extends "base.html" %}
{% set active_page="Add an Owner" %}
{% block title %}{{ active_page }}{% endblock title %}
{% block content %}
<div class="container-fluid mx-auto">
  <div class="jumbotron">
    <h4>Add an Owner</h4>
    <p class="lead">Add a new owner with the follwoing form</p>
    <form  class="mx-4 p-2" method="POST">
      {{form.hidden_tag()}}
      {{form.name.label}}{{form.name()}}
      {{form.id.label}}{{form.id()}}
      {{form.submit()}}
    </form>
  </div>
</div>
{% endblock content %}
