{%extends "base.html"%}
{%block content%}
	
	<div class="container-fluid m-2">
		<h1>Here is the result if the User Name check:</h1>
			{%if count_issues==0%}
			<p class="lead">Well done! Your User Name "<em>{{username}}</em>" passed all three requireemnts.</p>
			{%else%}
				{%if count_issues>1%}
				<p>Unfortunately, your User Name "<em>{{username}}</em>" has not passed {{count_issues}} requirements:</p>
				<ul>
					{%for item in issues%}
					<li>{{item}}</li>
					{%endfor%}
				</ul>
				{%else%}
				<p>Unfortunately, your User Name "<em>{{username}}</em>" has not passed {{count_issues}} requirement:</p>
				<ul>
					{%for item in issues%}
					<li>{{item}}</li>
					{%endfor%}
				</ul>
				{%endif%}
			{%endif%}
	</div>

{%endblock content%}